.main{
	border: 5px solid black;
	padding: 2%;
	margin:2%;
	border-radius: 10%;
}
.main{
	display:flex;
	flex-direction: row;
}
.left{
	border: 4px solid red;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align: center;
	width:50%;
}
.left img{
	width: 40%;
	border-radius: 50%;
	border: 5px solid gold;
	box-shadow: 12px 20px 18px pink;
}
.right{
	border: 3px solid blue;
	padding: 2%;
    margin: 2%;
    border-radius: 10%;
    text-align: center;
    width: 50%;
}
#number{
	color:brown;
	font-size:30px; 
	word-wrap: break-word;
}
a{
	word-wrap: break-word;
}
p
{
	color: orange;
	font-size:20px;
}
@media only screen and (min-width: 320px) and (max-width:480px){
	.main{
	border: 5px solid black;
	padding: 2%;
	margin:2%;
	border-radius: 10%;

}
.main{
	display:flex;
	flex-direction: column;
}
.left{
	border: 4px solid red;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align: center;
	width:90%;
	background-color: skyblue;
}
.left img{
	width: 40%;
	border-radius: 50%;
	border: 5px solid gold;
	box-shadow: 12px 20px 18px black;
}
.right{
	border: 3px solid blue;
	padding: 2%;
    margin: 2%;
    border-radius: 10%;
    text-align: center;
    width: 90%;
    background-color: skyblue;
}
#number{
	color:brown;
	font-size:30px; 
	word-wrap: break-word;
}
p{
	color: orange;
	font-size:20px;
}
.table1{
	width: 90%;
	overflow-x: auto;
}
}
@media only screen and (min-width: 481px) and (max-width:768px){
	.main{
	border: 5px solid black;
	padding: 2%;
	margin:2%;
	border-radius: 10%;

}
.main{
	display:flex;
	flex-direction: row;
}
.left{
	border: 4px solid red;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align: center;
	width:50%;
	background-color: pink;
}
.left img{
	width: 40%;
	border-radius: 50%;
	border: 5px solid gold;
	box-shadow: 12px 20px 18px black;
}
.right{
	border: 3px solid blue;
	padding: 2%;
    margin: 2%;
    border-radius: 10%;
    text-align: center;
    width: 50%;
    background-color: pink;
}
#number{
	color:brown;
	font-size:30px;
	word-wrap: break-word; 
}
p{
	color: orange;
	font-size:20px;
}
.table1{
	width: 90%;
	overflow-x: auto;
}
}
@media only screen and (min-width: 769px) and (max-width:1024px){
	.main{
	border: 5px solid black;
	padding: 2%;
	margin:2%;
	border-radius: 10%;

}
.main{
	display:flex;
	flex-direction: row;
}
.left{
	border: 4px solid red;
	padding: 2%;
	margin: 2%;
	border-radius: 10%;
	text-align: left;
	width:40%;
	background-color:skyblue;
}
.left img{
	width: 40%;
	border-radius: 50%;
	border: 5px solid gold;
	box-shadow: 12px 20px 18px black;
}
.right{
	border: 3px solid blue;
	padding: 2%;
    margin: 2%;
    border-radius: 10%;
    text-align:left;
    width: 40%;
    background-color: skyblue;
}
#number{
	color:brown;
	font-size:30px;
	word-wrap: break-word; 
}
p{
	color: orange;
	font-size:20px;
}
.table1{
	width: 90%;
	overflow-x: auto;
}
}